body {
    background-image: url('../assets/img/BusinessPartner/LoginBG.png'); /* Đặt đường dẫn hình ảnh của bạn */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
/* back */
.back-button {
    position: fixed;
    top: 10px;
    right: 10px;
}
.back-button a {
    text-decoration: none;
    background-color: rgb(255, 80, 4);
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 16px;
}
.back-button a i {
    margin-right: 8px;
}
/* login */
.login-container {
    background-color: rgba(255, 255, 255, 0.9); /* Màu nền cho phần đăng nhập */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 80%; /* Điều chỉnh chiều rộng của phần đăng nhập */
    max-width: 400px; /* Điều chỉnh chiều rộng tối đa của phần đăng nhập */
    position: absolute;
    top: 50%;
    right: 10%; /* Điều chỉnh vị trí sang nửa bên phải */
    transform: translate(0%, -50%);
}

.login-container h2 {
    color: rgb(255, 80, 4);
    font-size: 28px;
    margin-bottom: 20px;
}

.login-container .form-group {
    margin-bottom: 20px;
}

.login-container .form-group label {
    font-weight: bold;
    text-align: left;
    display: block;
}

.login-container .form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-container .form-group.login-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.login-container .btn-login,
.login-container .btn-register {
    background-color: rgb(255, 80, 4);
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    transition: background-color 0.3s ease; /* Thêm hiệu ứng hover */
}

.login-container .btn-login:hover,
.login-container .btn-register:hover {
    opacity: 0.8;
}

/* Khoảng cách giữa nút "Đăng Nhập" và "Đăng Ký" */
.login-container .btn-register {
    margin-left: 10px;
}
/* Đăng ký */
.registration-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 80%;
    max-width: 400px;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(0%, -50%);
    display: none;
    text-align: center;
}

.registration-container h2 {
    color: rgb(255, 80, 4);
    font-size: 28px;
    margin-bottom: 20px;
}

.registration-container .form-group {
    margin-bottom: 20px;
}

.registration-container .form-group label {
    font-weight: bold;
    text-align: left;
    display: block;
}

.registration-container .form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.registration-container .form-group.registration-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.btn-register{
    background-color: rgb(255, 80, 4);
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}
.btn-register:hover{
    opacity: 0.8;
}
.returnlogiform {
    margin-top: 10px;
    color: #333; /* Text color for the new text */
}
.returnlogiform  a {
    color: rgb(255, 80, 4); 
    text-decoration: underline;
    cursor: pointer; 
    display: inline-block; 
    margin-top: 5px; 
}
.returnlogiform  a:hover {
    color: 0.8; 
}
/* rps */
@media (max-width: 1023px) {
    body {
        background-image: none; 
        background-color: rgb(255, 80, 4) !important; 
    }
    .login-container,
    .registration-container {
        position: static; 
        transform: none; 
        right: 0; 
        left: 0; 
        margin: auto;
    }
}